<div id="wrapper" ng-controller="MainCtrl">


  <div class="top-right mo-pl">
    <div class='top-right-about'>

     <div id="share-buttons">
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u=http://www.heuteinberlin.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>

      <!-- Twitter -->
      <a href="http://twitter.com/share?url=http://www.heuteinberlin.com&text=Simple Share Buttons" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

      <!-- Google+ -->
      <a href="https://plus.google.com/share?url=http://www.heuteinberlin.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

      <!-- Email -->
      <a href="mailto:?Subject=Heute In Berlin&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.heuteinberlin.com"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
    </div>
    </div>
    <div class="top-right-content">
    <span style='width:10px'>▼</span>
    <span class='days'>
    <select ng-model="day" ng-options="d.name for d in days" name="">
    </select>
    </span>
     <span class='days-label'>in berlin
      <span ng-click="changeLanguage('en')"><%= image_tag 'US.png'%></span>
      <span ng-click="changeLanguage('de')"><%= image_tag 'DE.png'%></span>
     </span>
   </div>
  </div>

  <span ng-hide='loaded'>
    <%= image_tag 'loader.gif', :class => "loader-image"  %>
  </span>

  <div ng-cloak class="row top-left mo-pl" >
    <div class="top-left-content categories mode-btns" ng-show='film_enabled()'>
      <div class="main-btn-wrpr">
       <span class="main-btn-{{!filmMode()}} main-cat events" ng-click="changeType('e')" >{{ 'EVENTS' | translate }}</span>
       <span class="main-btn-{{filmMode()}} main-cat films" ng-click="changeType('f')"  >{{ 'MOVIES' | translate }}</span>
      </div class="main-btn-wrpr">
    </div>

    <div ng-hide="filmMode()" class="top-left-content categories mode-btns">
      <div class="cat-wrpr">
        <span class="cat-btn-{{party}} sub-cat party" ng-click="filterClicked('party')" ng-model='party' ng-init="party='party'" >{{ 'PARTY' | translate }}</span>
        <span class="cat-btn-{{theater}} sub-cat theater" ng-model="theater" ng-true-value="theater" ng-false-value="false" ng-init="theater='theater'" ng-click="filterClicked('theater')">{{ 'THEATER' | translate }}</span>
        <span class="cat-btn-{{concert}} sub-cat concert" ng-model="concert" ng-true-value="konzert" ng-false-value="false" ng-init="concert='konzert'" ng-click="filterClicked('konzert')">{{ 'CONCERT' | translate }}</span>
        <span class="cat-btn-{{exhibit}} sub-cat exhibit" ng-model="exhibit" ng-true-value="ausstellung" ng-false-value="false" ng-init="exhibit='ausstellung'" ng-click="filterClicked('ausstellung')">{{ 'SHOW' | translate }}</span>
        <span class="cat-btn-{{misc}} sub-cat misc"  ng-model="misc" ng-true-value="sonstiges" ng-false-value="false" ng-init="misc='sonstiges'" ng-click="filterClicked('sonstiges')">{{ 'MISC' | translate }}</span>
      </div>
    </div>

    <div class="top-left-content filter">
      <input type="text" ng-model="search" placeholder="{{ 'FILTER' | translate }}">
    </div>

    <div ng-include="list_template"></div>

  </div>

  <div id="map_canvas" ui-map="map"
      ui-options="mapOptions"
      ui-event="{'map-idle' : 'onMapIdle()'}">
  </div>

</div>