<!-- <div class="top-left-content categories">
  <input type="checkbox" id='drama_check_f' ng-click='filterClicked()' ng-model='party' ng-true-value='drama'>
  <span class="drama">{{ 'DRAMA' | translate }}</span>

  <input type="checkbox" id='action_check_f' ng-model="action" ng-click='filterClicked()' ng-true-value='action'>
  <span class="action">{{ 'ACTION' | translate }}</span>

  <input type="checkbox" id='other_check_f' ng-model="other" ng-click='filterClicked()' ng-true-value='other'>
  <span class="other">{{ 'OTHER' | translate }}</span>
</div>
 -->